<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Usuario</th>
      <th>Complejo</th>
      <th>Cancha</th>
      <th>Hora Inicio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reserva of reservas">
      <td>{{ reserva.id }}</td>
      <td>{{ reserva.fecha }}</td>
      <td>{{ reserva.nombreUsuario }}</td>
      <td>{{ reserva.nombreComplejo }}</td>
      <td>{{ reserva.nombreCancha }}</td>
      <td>{{ reserva.horaInicio }}</td>
    </tr>
  </tbody>
</table>
